<div class="flex flex-col w-80 gap-4 px-2">
  <p class="mt-4">Produktów w koszyku: {{ numberOfProducts$ | async }}</p>
  <p>Suma zamówienia: {{ costOfProducts$ | async }} zł</p>

  <button class="btn w-1/2 px-2" (click)="clearCart()">Wyczyść koszyk</button>

  <ng-container *ngFor="let category of categoriesInCart$ | async">
    <h3 class="text-secondary font-black tracking-widest">{{ category }}</h3>
    <ng-container *ngFor="let product of productsInCart$ | async">
      <app-card-small
        *ngIf="product.category === category"
        [product]="product"
      ></app-card-small>
    </ng-container>
  </ng-container>

  <button
    *ngIf="numberOfProducts$ | async"
    class="btn w-1/2 px-2 bg-primary text-primary-content mb-4"
    (click)="buy()"
  >
    Zamów
  </button>
</div>
