:host {
  @apply cursor-pointer inline-flex text-sm font-semibold px-2 rounded-lg h-12 uppercase justify-center select-none items-center  transition-all duration-200 ease-in-out;

  animation: popAnim 0.25s ease-out;

  &.primary {
    @apply bg-primary hover:bg-primary-focus text-primary-content;
  }

  &.base {
    @apply bg-neutral hover:bg-neutral-focus text-neutral-content;
  }
}

@keyframes popAnim {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

:host:active:is(:hover, :focus) {
  transform: scale(95%);
  animation: none;
}
