
<div class="indicator" *ngIf="product">
  <div class="indicator-item indicator-start">
    <p class="px-2 py-1 bg-warning rounded-badge text-base-300 font-bold text-xl">{{product.price}} zł</p>
  </div>

  <div class="card w-60 bg-base-100 shadow-xl" >
    <figure><img src="https://placeimg.com/400/225/arch" alt="Zdjęcie {{product.name}}" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{product.name}}</h2>

      <app-stars [rating]="product.stars" class="pointer-events-none"></app-stars>

      <ng-container *ngIf="product.inStock !== 0; else notAvailable">
      <app-count-input class="m-auto" [max]="product.inStock"></app-count-input>

      <div class="card-actions m-auto">
        <button class="btn w-32">Do koszyka</button>
      </div>
      </ng-container>
    </div>
  </div>
</div>


<ng-template #notAvailable>
  <p class="font-bold text-neutral-content/80">Produkt nie dostępny</p>
</ng-template>

