<div class="card w-48 bg-primary-content/5 shadow-xl relative" *ngIf="product">
  <p
    class="px-2 py-1 bg-warning rounded-badge text-base-100 font-bold text-xl absolute top-3 left-3"
  >
    {{ product.price }} zł
  </p>

  <figure>
    <img src="assets/{{ product.imgName }}" alt="Zdjęcie {{ product.name }}" />
  </figure>
  <div class="card-body p-5 items-center">
    <h2 class="card-title text-center">{{ product.name }}</h2>

    <app-stars [rating]="product.stars" class="pointer-events-none"></app-stars>

    <ng-container *ngIf="product.inStock !== 0; else notAvailable">
      <app-count-input
        [max]="product.inStock"
        [min]="1"
        [formControl]="count"
      ></app-count-input>

      <button class="btn w-32" (click)="AddToCartClick()">Do koszyka</button>
    </ng-container>
  </div>
</div>

<ng-template #notAvailable>
  <p class="font-bold text-neutral-content/80 text-center">
    Produkt nie dostępny
  </p>
</ng-template>
